* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-container {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: linear-gradient(
      90deg,
      rgba(36, 34, 34, 0.76),
      rgba(66, 59, 59, 0)
    ),
    url(../../images/homepic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center-center;
  border-style: none;
  overflow: hidden;
}

.home-body {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}
.home-body h1 {
  color: #ffffff;
  font-family: "Maven Pro";
  font-size: 96px;
  font-weight: 500;
  text-align: center;

  margin: 0;
  padding: 0;
}

.home-body h2 {
  color: #ffffff;
  font-family: "Lato";
  font-size: 36px;
  font-weight: 400;
  text-align: center;

  margin: 20px 0px;
  padding: 0;
}

.icon-box {
  margin-top: 40px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  display: inline-block;
}
.icon a {
  color: #ffffff;
  padding: 0 10px;
  text-decoration: none;
}
